<div style="padding:8px;">
    <h1>Bienvenue sur FastBet</h1>
    <p>Tentez de gagner des millions en quelques minutes</p>
    <div *ngIf="!connected">
        <button (click)="login()">Vous connecter</button>
        <button (click)="register()">Creer un compte</button>
    </div>

    <div *ngIf="connected">
        <p class="tac">Hi <strong>{{user.user_pseudo}}</strong></p>
        <div class="m16 p16 br8 b1 column aic jcc" style="background-color:rgb(240, 240, 240);">
            <p>Solde</p>
            <h1>{{user.user_balance|number}} F</h1>
        </div>
        <button>Faire une demande de recharge</button>
        <button (click)="go_to_on_going_game()">Parties en cours</button>
        <button (click)="go_to_preparing_game()">Parties en preparations</button>
        <button (click)="create_partie()">Creer une partie</button>
        <button (click)="go_to_mes_parties()">Mes parties</button>
        <button (click)="logOut()">Deconnexion</button>
    </div>

</div>