<div class="column h100 jcfe">
    <h3>Veuillez renseigner votre Mot de passe</h3>
    <p>Cette information aidera a la protection de votre compte, veillez
        choisir un mot de passe solide</p>
    <input type="password" class="w100" [(ngModel)]="user.user_password" placeholder="Entrez votre mot de passe"
        autofocus id="password_field">
    <p class="error" *ngIf="show_invalid_password_error">Ce Mot de passe est invalide, doit comporter au moins 8
        caracteres</p>

    <div class="mt16 row g8">
        <button class="f1" (click)="go_to_add_pseudo()">Modifier le nom d'utlisateur</button>
        <button class="f1" (click)="go_to_add_confirm_password_proxy()">Confirmer le mot de passe</button>
    </div>
</div>