<div class="registerWrapper" style="padding:12px;">
    <h2>S'enregistrer</h2>
   
    <div class="registerStep" >
        <h3>Pseudo</h3>
        <p>Ceci permettra aux autres joueurs de vous differencier </p>
        <p><input type="text" placeholder="entrez votre pseudo..." class="w100"></p>
    </div>
    <div class="registerStep" >
        <h3>Mot de passe</h3>
        <p>Ceci permettra de securiser votre compte , veuillez a inserer un mot de passe fort qui n'a rien a voire avec vos informations personnelles </p>
        <p><input type="password" placeholder="entrez votre mot de passe..." class="w100"></p>
        <p><input type="password" placeholder="Confirmer votre mot de passe..." class="w100"></p>
    </div>
    <div class="registerStep" >
        <h3>Email</h3>
        <p>Ceci permettra de valider votre compte et de mettre a jour votre mot de passe si jamais vous l'oublier </p>
        <p><input type="text" placeholder="entrez votre pseudo..." class="w100"></p>
    </div>
    <p><button>Creer mon compte</button></p>
    <p><button (click)="back()">Retour</button></p>
</div>