<div class="b1 br8 p16 mv8">
    <div>Mise initiale <strong>{{game.game_bet | number}} FCFA</strong></div>
    <div>Duree <strong>{{game.game_duration}}</strong> s</div>
    <div>{{game.game_created_date|date:"medium"}}</div>

    <button (click)="create_round()">Rassembler les joueurs</button>

    <div class="mt16">
        <button (click)="edit_duration()">Modifier la duree</button>
        <button (click)="edit_bet()">Modifier la mise</button>
        <button (click)="delete()">Supprimer</button>
    </div>
</div>