<div class="column h100 jcfe">
    <h3>Veuillez Confirmer votre Mot de passe</h3>
    <p>Afin de nous assurer que vous avez bien sauvegarder votre mot de passe, nous avons besoin d'une confirmation</p>
    <input type="password" class="w100" [(ngModel)]="user.user_confirm_password" placeholder="Entrez votre mot de passe"
        autofocus id="confirm_password_field">
    <p class="error" *ngIf="show_invalid_password_error">Ce mot de passe ne correspond pas a celui que vous avez
        renseigner precedement</p>

    <div class="mt16 row g8">
        <button class="f1" (click)="go_to_add_pseudo()">Modifier le mot de passe</button>
        <button class="f1" (click)="go_to_add_email_proxy()">Ajouter l'email</button>
    </div>
</div>