<div class="p16 column jcfe">
    <h2>Edition de la mise</h2>

    <div class="mv8">
        <p>Nouvelle mise</p>
        <div class="row p16 b1 br8">
            <input type="number" placeholder="Inserez la nouvelle mise" class="w100" [(ngModel)]="game.game_bet"
                class="f1">
            <div>FCFA</div>
        </div>
    </div>

    <div>
        <button (click)="back()">Annuler</button>
        <button (click)="edit_proxy()" *ngIf="!editing">Editer la duree</button>
        <button *ngIf="editing">En cours...</button>
    </div>

</div>